/* Use the formula 1 font */

@font-face {
    font-family: 'F1';
    src: url('Formula1-Regular.woff') format('woff');
}

@font-face {
    font-family: 'F1';
    src: url('Formula1-Bold.woff') format('woff');
    font-weight: bold;
}

body {
    /* background-color: rgb(246,244,241) !important; */
    padding-top: 70px;
}

/* Change the input to be red on focus */

td:focus {
    outline-color: #dd0401;
}

td {
    width: 70%;
}

.f1-background {
    background-color: #dd0401 !important;
    color: #FFF !important;
}

/* Provide some padding for the rows */

.row {
    margin-bottom: 2em;
    margin-top: 2em;
}

/* Used to include the font */

.f1-font {
    font-family: "F1";
}

.f1-font-bold {
    font-family: "F1";
    font-weight: bold;
}

/* Used for large bodies of text */

.text-body {
    font-size: 0.90em;
}

/* Change the background color and font of the header */

.header {
    font-family: "F1";
    background-color: #dd0401;
}

/* Make the header text white */

.header a {
    color: #FFF;
    font-size: 0.9em;
}

/* Animate the black background on hover */

.header a:hover {
    color: #FFF;
    background-color: #000;
    transition: ease-in-out background-color .25s;
}

/* The primary border for pages */

.f1-border-primary {
    border-top: 10px solid #dd0401;
    border-right: 10px solid #dd0401;
    border-bottom: 10px solid #dd0401;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.f1-border-primary p {
    margin: 0 20px 20px 20px;
}

/* The secondary border for pages */

.f1-border-secondary {
    border-bottom: 10px solid #000;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.f1-border-secondary p {
    margin: 0 20px 20px 20px;
}

/* The border for input forms */

.f1-border-form {
    border: 1px solid black;
    border-radius: 10px;
}

/* The style of the search results */

.result-card {
    background-color: rgb(246, 244, 241);
}

/* The style of the driver's image on the search page */

.driver-thumbnail {
    object-fit: cover;
    object-position: 0% 10%;
    width: 150px;
    height: 150px;
}

/* The style of the driver page */

.driver-portrait {
    object-fit: cover;
    object-position: 0% 10%;
    width: 250px;
}

/* The style of the buttons on the driver page */

.confirm-btn, .update-btn {
    float: right;
    padding: 0.07rem;
    font-size: 1rem;
}

/* Give the driver a shadow */

.dropshadow {
    /*
    Box-Shadow's Arguments are:
    1) xoffset
    2) yoffset
    3) blur
    4) color
    , any other shadow
    */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.7s cubic-bezier(.2, .8, .2, 1);
}

/* Give the driver a different shadow on hover */

.dropshadow:hover {
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25), 0 10px 30px rgba(0, 0, 0, 0.22);
}

.bottom-page{
    text-align: center;
}


/*Changes to the main page pic*/
#diff{
    width: 50%;
    margin-bottom: 3em;
    align-items: center;
}