div.modal.fade#confirm-modal(style='display: none')
    div.modal-dialog
        div.modal-content
            div.modal-header
                h5.modal-title Are you sure?
            div.modal-body 
                p Are you sure you want to make these changes? 
                p If yes, the changes will be reviewed by a staff memeber.
            div.modal-footer 
                input#modal-no-btn(type="button", value="No", class="f1-font btn f1-background")
                input#modal-yes-btn(type="button", value="Yes", class="f1-font btn f1-background")
