include nav.pug

div.container
    div.row
        div.col-3#driver-image
        div.col
            h3.driver-info.f1-border-secondary.mb-3
                p.f1-font#driver-name
                    b #{fname} #{lname}
                    input(type="button", value="Update", class="btn f1-background update-btn")
            table.table



include confirm-modal.pug