include nav.pug

//- div.row.result-card.p-2.dropshadow
//-     div.col-2.pl-0
//-         img(src='https://www.formula1.com/content/fom-website/en/drivers/sebastian-vettel/_jcr_content/image.img.1024.medium.jpg/1551784055163.jpg').driver-portrait.driver-thumbnail
//-     div.col.p-2
//-         h3.f1-font Sebastian Vettel
//- div.row.result-card.p-2.dropshadow
//-     div.col-2.pl-0
//-         img(src='https://www.formula1.com/content/fom-website/en/drivers/sebastian-vettel/_jcr_content/image.img.1024.medium.jpg/1551784055163.jpg').driver-portrait.driver-thumbnail
//-     div.col.p-2
//-         h3.f1-font Sebastian Vettel

div.container

    div.row
        div.col-3#driver-image
            //- img(src='https://www.formula1.com/content/fom-website/en/drivers/sebastian-vettel/_jcr_content/image.img.1024.medium.jpg/1551784055163.jpg').img-fluid.driver-portrait
        div.col
            h3.driver-info.f1-border-secondary.mb-3
                p.f1-font#driver-name
                    b #{fname} #{lname}
                    input(type="button", value="Update", class="update-btn")
            table.table
                //- tr
                //-     td(style="text-align: center;")
                //-         |ha
                //-     td(style="text-align: center;")
                //-         |ha
                //-     td(style="text-align: center;")
                //-         |ha
                //- tr
                //-     td(style="text-align: center;")
                //-         |ha
                //-     td(style="text-align: center;")
                //-         |ha
                //-     td(style="text-align: center;")
                //-         |ha
                //- tr
                //-     td(style="text-align: center;")
                //-         |ha
                //-     td(style="text-align: center;")
                //-         |ha
                //-     td(style="text-align: center;")
                //-         |ha
                //- tr
                //-     td(style="text-align: center;")
                //-         |ha
                //-     td(style="text-align: center;")
                //-         |ha
                //-     td(style="text-align: center;")
                //-         |ha

    

