include nav.pug

.container.mt-4
    .row 
        .col-4
            img(src='https://www.formula1.com/content/fom-website/en/drivers/sebastian-vettel/_jcr_content/image.img.1024.medium.jpg/1551784055163.jpg').img-fluid.driver-portrait
        .col.p-4
            h1.driver-info
                b Sebastian Vettel