include nav.pug

.container.bg-light.mt-3
  .row
    .col
      | aa
    .col
      | aa
    .col
      | aa
    .col
      | aa
    .col
      | aa
    .col
      | aa
    .col
      | aa
    .col
      | aa
  .row
    .col
      | leonard
