include nav.pug

div.container(id="content")
  div.row
    div.col
      div.about-div.f1-border-primary
        h3.about-header.f1-font-bold.pt-3 About
        p.para.text-body  This application explores how the sport of Formula 1 has evolved sice 1947.
          |  The sport is always evolving, the cars are not what they were 5 years ago, 10 years ago.
          |  The technologies developed from this sport makes its way down to the cars that we drive today.
          |  There have been nine different era's in this sport and within those eras there are different types of engines.
  div.row
    div.col
      div.engines
        h5.engine-header.f1-font-bold.f1-border-secondary.pb-3 Engine Era's
        p.para.text-body This is a list of all the era's:
        ul.engine-list.text-body
          li 1947-1953 : 4.5 L atmospheric and 1.5 L supercharged engines.
          li 1954-1960 : 2.5 L and supercharged engines were limited to 750 cc.
          li 1961-1965 : 1.5 L engines.
          li 1966-1986 : 3.0 L atmospheric to turbocharged V8 engines
          li 1987-1988 : 3.5 L engines to V6 turbo engines
          li 1989-1994 : V10 to V12 engines
          li 1995-2005 : V12 to V10 engines
          li 2006-2013 : V10, V8, V6 engines
          li 2014-2018 : Hybrid V6 engines
        p.para.text-body
          | Link to more info:
          a(href='https://en.wikipedia.org/wiki/Formula_One_engines#1947–1953')  Wikipedia
  div.row.text-body
    | There are 
    span.ml-1.mr-1#driver-amount
    | driver(s) currently recorded in the system