doctype html
html
  head
    link(rel='stylesheet', href='css/index.css')
    script(src='http://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  body
    nav.header.py-0.navbar.navbar-expand-sm.fixed-top
      .container
        img.navbar-brand.py-2(src='img/f1_logo.svg')
        .navbar-nav.mr-auto
          a.nav-item.nav-link.py-4(href='/')  Home 
          a.nav-item.nav-link.py-4(href='/driver')  Drivers 
          a.nav-item.nav-link.py-4(href='/constructors')  Constructors 
          a.nav-item.nav-link.py-4(href='/tracks')  Tracks