include nav.pug

div.container.search-form.f1-border-form.pl-5.pr-5.mt-4
    div.row(style="border-bottom: 2px solid lightgrey;").pt-4.pb-0
        h3.f1-font-bold Search
    div.row
        form
            div.form-group
                label.f1-font Query:
                input.form-control(type='text' placeholder='Enter a query')
            div.custom-control.custom-radio
                input#fname-radio.custom-control-input(type='radio' checked='true' name='name-type-radio'  value='fname')
                label.custom-control-label(for='fname-radio') First Name
            div.custom-control.custom-radio
                input#lname-radio.custom-control-input(type='radio' name='name-type-radio' value='lname')
                label.custom-control-label(for='lname-radio') Last Name
            div.form-group.mt-4.mb-0
                button.btn.f1-background.f1-font(type='submit') Submit
div.container#search-results
